<nav id="taxonomies" class="sidebar-item" data-hook>
  <h4 class='taxonomy-root'>Firmy</h4>
  <div class="list-group">
    <% Spree::Taxonomy.find_by(name: "Firmy").taxons.where("parent_id IS NOT NULL").each do |taxon| %>
    <%= link_to raw("<i class='fa fa-circle'></i>  #{taxon.name}"), seo_url(taxon), class: "list-group-item" %>
    <% end %>
  </div>
</nav>