<div id="spree-footer">
  <div class="row">
    <footer id="footer" class="row" data-hook>
     <div class="col-sm-4">
      <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fdodatkislubnedorotakrawiec&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=1434429656815737" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe>
       <p class="copy">copyright 2015 Dodatki ślubne | Developer <a href="http://przemyslawolesinski.pl" target="_blank">Przemysław Olesiński</a></p>
     </div>
     <div class="col-sm-8">
       <div class="col-sm-4">
         <h3>Informacje</h3>
         <ul>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Nowości'), "" %></li>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Promocje'), "" %></li>
         </ul>
       </div>
       <div class="col-sm-4">
         <h3>Obsługa klienta</h3>
         <ul>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Polityka prywatności'), "" %></li>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Mapa Strony'), "" %></li>
         </ul>
       </div>
       <div class="col-sm-4">
         <h3>Kontakt</h3>
         <ul class="icons">
          <li><i class="fa fa-envelope-o"></i> salon@dodatkislubne.eu</li>
          <li><i class="fa fa-phone"></i> (+48) 603-177-820</li>
          <li>Pn – Pt: 10:00 – 17:30</li>
          <li>Sb: 10:00 – 13:00</li>
         </ul>
       </div>
     </div>
    </footer>
  </div>
</div>