<div class="row">
  <div class="line"></div>
  <div class="col-sm-3 sidebar">
    <div class="box-heading">Firmy</div>
    <div class="list-group">
      <a class="list-group-item" href=""><i class="fa fa-circle"></i>  Antra</a>
      <a class="list-group-item" href=""><i class="fa fa-circle"></i>  Sposa</a>
      <a class="list-group-item" href=""><i class="fa fa-circle"></i>  Graf</a>
      <a class="list-group-item" href=""><i class="fa fa-circle"></i>  Witt</a>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="box-heading">Najnowsze Produkty</div>
  </div>
</div>
<div id="spree-footer">
  <div class="row">
    <footer id="footer" class="row" data-hook>
     <div class="col-sm-4">
       <p class="copy">copyright 2015 Dodatki ślubne | Developer Przemysław Olesiński</p>
     </div>
     <div class="col-sm-8">
       <div class="col-sm-4">
         <h3>Informacje</h3>
         <ul>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Nowości'), "" %></li>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Promocje'), "" %></li>
         </ul>
       </div>
       <div class="col-sm-4">
         <h3>Obsługa klienta</h3>
         <ul>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Polityka prywatności'), "" %></li>
          <li><%= link_to raw('<i class="fa fa-circle"></i> Mapa Strony'), "" %></li>
         </ul>
       </div>
       <div class="col-sm-4">
         <h3>Kontakt</h3>
         <ul class="icons">
          <li><i class="fa fa-envelope-o"></i> dodatki@ezample.com</li>
          <li><i class="fa fa-phone"></i> 444 444 444</li>
         </ul>
       </div>
     </div>
    </footer>
  </div>
</div>